[build]
  command = "npm run build"
  publish = "dist/spa"

[functions]
  # ye tera actual source folder hai Netlify functions ka
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["express"]

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
